# Python
__pycache__/
*.pyc
.DS_Store

# Virtual environments
.venv/
env/

# Data + artifacts
v2_upgrade/models/
v2_upgrade/artifacts/
v2_upgrade/data/raw/
v2_upgrade/data/processed/

# ML artifacts
*.joblib
*.pkl
